#leftArea {
    width: 30%;
    height: 1000px;
    background-color: rgb(236, 209, 118);
    background-image: url('texture.png');
    background-size: 256px 128px;
    background-repeat: repeat;
    border: 10px solid black;
    position: fixed;
    top: -10px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#banner {
    position: absolute;
    scale: 0.2;
    transform-origin: top center;
}

#mainButton {
    transform-origin: bottom center;
    position: absolute;
    border: none;
    background-color: transparent;
    top: 115px;
    z-index: 6;
}

#mainButtonImage {
    width: 250px;
    height: 250px;
    clip-path: ellipse(47% 50% at 49.5% 51%);
}

#cash {
    position: absolute;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 50px;
    color: white;
    top: 70px;
    z-index: 5;
}
#background {
    height: 1000px;
    width: 40%;
    position: fixed;
    image-rendering: pixelated;
    background-image: url('SkyTile.png');
    background-repeat: repeat;
    background-size: 256px 256px;
    top: 0;
    left: calc(50% + 20px);
    transform: translateX(-50%);
    z-index: 1;
    overflow: hidden;
}
#middleTop {
  width: 40%;
  height: 200px;
  background-image: url('NYC.png');
  background-size: 50% 100%;
  background-position: 0px 0px;
  border: 10px solid rgb(0, 0, 0);
  position: fixed;
  top: 0px;
  left: calc(50% + 20px);
  transform: translateX(-50%);
  z-index: 10;
}

#middleArea {
    width: 40%;
    min-height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid rgb(0, 0, 0);
    flex-direction: column;
    overflow-y: auto;
    position: absolute;
    top: 210px;
    left: calc(50% + 20px);
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .mid {
    width: 100%;
    height: 140px;
    position: relative;
    image-rendering: pixelated;
    background-color: #1f2327;
    background-image: url('Frame7.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
  }
  .bButton {
    position: absolute;
    top: 50%;
    left: calc(10% + 10px);
    width:90px;
    max-width: 90px;
    height: 90px;
    image-rendering: pixelated;
    background-image: url('BuildingButton2.png');
    background-size: 100% 100%;
    background-position: center;
    z-index: 4;
    transform: translate(-50%, -50%);
    transition: box-shadow 0.05s ease;
    justify-content: center;
    align-items: center;
    display: flex

  }
  .bButton:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  #bottom {
    width: 100%;
    height: 5px;
    background-color: #1f2327;
    z-index: 3;
}

#BuildingB1IMG {
  z-index: 6;
  height: 60%;
  width: 60%;
  transform: translate(-3px, 0px);
}
  